@font-face {
    font-family: 'Primary';
    src: url('../fonts/Tomato_Grotesk_Regular.woff2') format('woff2'),
}
@font-face {
    font-family: 'Secondary';
    src: url('../fonts/Tomato_Grotesk_SemiBold.woff2') format('woff2'),;
}
@font-face {
    font-family: 'Tertiary';
    src: url('../fonts/BGB.otf') format('opentype');
}

