@import url(../fonts/fonts.css);

* {
    padding: 0;
    margin: 0;
    font-family: 'Primary';
    box-sizing: border-box;
}

  
:root {
    --primary: rgb(240, 246, 255);
    --secondary: #212121;
    --border: 1px solid #21212157;
    
    --ease: cubic-bezier(0.255, 0.655, 0.02, 0.995);
    --transition-width: width 0.64s var(--ease);
    --transition-opacity: opacity 1.2s var(--ease);
    --transition-transform: transform 1.2s var(--ease);
}
section {
    overflow: hidden;
}
.preloader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.preloader-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.counter {
    color: white;
    font-family: 'Tertiary';
}
.counter h1 {
    font-size: 4rem;
}

/* LANDING */
#landing {
    position: relative;
    width: 100%;
    height: 100vh;
    /* background: rgba(0, 0, 0, 0.1); */
    /* overflow: hidden; */
}

#landing .landing_media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-bottom-right-radius: 3.2rem;
    border-bottom-left-radius: 3.2rem;
}

#landing .cloud_1 {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
}

/* GET STARTED */
#get-started {
    background: url(../media/getStarted.jpg) no-repeat center center /cover;
    height: 80vh;
}
#get-started .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#get-started .text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* TAGLINE */
#tagline {
    height: 100vh;
}
#tagline h1{
    font-size: 10rem;
    background-image: url("../media/tagline.avif");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

/* FEATURES */
#features-card{
    height: 80vh;
}

/* CAROUSEL */
#carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    border: var(--border);
    border-radius: 3.2rem;
    overflow: hidden;
}
#carousel .section_container {
    display: flex;
    width: 100%;
    height: inherit;
}
#carousel .section_col {
    position: relative;
    width: 60rem;
    border-right: var(--border);
    padding: 8rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    transition:  var(--transition-width);
    overflow: hidden;
}

#carousel .section_col:last-child {
    border: none;
}

#carousel .section_col.active {
    width: 200rem;
    transition: var(--transition-width);
    transform-origin: left;
    color: var(--primary);

}

#carousel .section_col.active .section_col_media { 
    opacity: 1;
    transition: var(--transition-opacity);
}

#carousel .section_col_media {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    transition: var(--transition-opacity);
}
#carousel .section_col_media::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    
    background-color: var(--secondary);
    opacity: 0.4;
}

#carousel img.section_col_image {
    position: relative;
    width: inherit;
    height: inherit;
    object-fit: cover;
    /* object-fit: left bottom; */
}

#carousel .section_col_caption {
    text-align: center;
    width: 24rem;
}
#carousel .section_col_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carousel .section_col_number h1 {
    font-size: 20rem;
    font-family: 'Tertiary';
    line-height: 0.8;
    color: #212121;

}
#carousel .section_col.active .section_col_number h1 {
    color: var(--primary);
    opacity: 0;
    transition: var(--transition-opacity);
}
#carousel .section_col .section_col_title h2{
    font-family: 'Tertiary';    
}
#carousel .section_col .section_col_title p{
    font-family: 'Secondary';    
}


